<div class="popup" >
  <div class="popup-content">
  <form (ngSubmit)="onSubmit()">
      <label for="name">Name:</label>
      <input type="text" name="name" [(ngModel)]="todo.name" placeholder="Enter your name" required>

      <label for="todo">Todo:</label>
      <input type="text" name="todo" [(ngModel)]="todo.todo" placeholder="Enter your todo" required>

      <label for="Date">Date:</label>
      <input type="date" name="Date" [(ngModel)]="todo.date" placeholder="Enter Date" required>

      <button type="button" class="btn btn-primary" (click)="closeForm()">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
