<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <ul class="Task">
      <p>All Task</p>
      <p>Pending</p>
      <p>Failure Task</p>
      <p>Complete Task</p>
    </ul>
  </div>
</div>
<button type="button" class="btn btn-primary" routerLink="/Pop">Add</button>
<!-- <div *ngFor="let item of todos">
</div> -->

<!-- <app-pop-up [isVisible]="isPopupVisible"(addTodo)="saveTodo($event)"(closePopup)="closePopup()"></app-pop-up> -->
<!-- {{item.name}}-{{item.todo}}
{{item.date}}-{{item.status}} -->